@font-face {
    font-family: proggy;
    src: url(proggy.ttf);
}

:root {
    --accent: #0805b7;
    --accent-hover: #2b29c4;
}

body {
    font-family: proggy, Arial, sans-serif;
    margin: 0;
    color: white;
    background-image: url(bg_tile.gif);
    background-repeat: repeat;
    text-align: center;
}

#about {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.box-content {
    border: 2px solid #777;
    padding: 45px 70px;
    min-width: 380px;
    background: #191919;
    font-size: 1.35rem;
}

.box-title {
    position: relative;
    top: 1.65em;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    padding: 0 8px;
    background: #191919;
    font-size: 1.15rem;
    cursor: pointer;
}

.accent {
    color: var(--accent);
}

#title:hover {
    color: var(--accent-hover);
}
