@font-face {
    font-family: proggy;
    src: url(proggy.ttf);
}

:root {
    --accent: #0805b7;
    --accent-hover: #2b29c4;
}

body {
    font-family: proggy, Arial, sans-serif;
    color: white;
    margin: 0;
    background-image: url(bg_tile.gif);
    background-repeat: repeat;
}

#about {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.box-content {
    border: 2px solid #777;
    padding: 40px 60px;
    font-size: 1.2rem;
    min-width: 300px;
    text-align: center;
}

.box-title {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    width: max-content;
    padding: 0 10px;
    top: 1.8em;
    cursor: pointer;
}

.accent {
    color: var(--accent);
}

#title:hover {
    color: var(--accent-hover);
}
